html,
body,
#root {
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.pointer-events-none {
  pointer-events: none;
}

.text-dark {
  color: rgb(52, 67, 75);
}
.bg-dark {
  background-color: rgb(52, 67, 75);
}
.b--dark {
  border-color: rgb(52, 67, 75);
}

input,
select {
  font-family: 'Inconsolata', monospace;
}

@media (max-width: 768px) {
  html,
  body,
  #root {
    font-size: 14px;
  }
}
